.Hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.Headshot{
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
    border: solid, black, 2px;
}
.Title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.Title h1{
    color: black;
    font-size: 1rem;
    padding: 1rem;
}
.Button_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 2rem;
}
.Button{
    padding: 1rem 1.5rem;
    color: white;
    background: black;
    font-size: 1rem;
    border-radius: 2rem;
    border: solid black 4px;
    transition: ease 0.5s;
    text-decoration: none;
}
.Button:hover{
    padding: 1rem 1.5rem;
    color: black;
    background: white;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: solid black 4px;
    text-decoration: none;
}
.Button1{
    padding: 1rem 1.5rem;
    color: black;
    background: white;
    font-size: 1rem;
    border-radius: 2rem;
    border: solid black 2px;
    transition: ease 0.5s;
    text-decoration: none;
}
.Button1:hover{
    padding: 1rem 1.5rem;
    color: white;
    background: black;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: solid black 2px;
    text-decoration: none;
}
